.contentComponent {
  position: relative;
}

.topActions {
  position: absolute;
  top: -1.6rem;
  right: 0;
}

.contentComponent:hover .actionsBetweenExercises,
.contentComponent:hover .topActions {
  opacity: 1;
}

.actionsBetweenExercises,
.topActions {
  opacity: 0;
  transition: opacity 200ms;
}
