.header {
  height: 3rem;
  width: 100%;
  padding: 0 var(--primary-padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  max-width: var(--primary-max-width);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
